@mixin highlight {
  border-radius: 99999px;
  overflow: hidden;
}

.legend_GOLD {
  @include highlight;
  background: var(--legend-gold) !important;
}
.legend_AQUA {
  @include highlight;
  background: var(--legend-aqua) !important;
}
.legend_SILVER {
  @include highlight;
  background: var(--legend-silver) !important;
}
.legend_PURPLE {
  @include highlight;
  background: var(--legend-purple) !important;
}
.legend_PURPLEHAZE {
  @include highlight;
  background: var(--legend-purplehaze) !important;
}
.legend_TEAL {
  @include highlight;
  background: var(--legend-teal) !important;
}
.legend_BROWN {
  @include highlight;
  background: var(--legend-brown) !important;
}
.legend_BLUE {
  @include highlight;
  background: var(--legend-blue) !important;
}
.legend_SUNFIRE {
  @include highlight;
  background: var(--legend-sunfire) !important;
}

/*
.legend_glow_GOLD {
  --glow-color: var(--legend-glow-gold);
}
.legend_glow_AQUA {
  --glow-color: var(--legend-glow-aqua);
}
.legend_glow_SILVER {
  --glow-color: var(--legend-glow-silver);
}
.legend_glow_PURPLE {
  --glow-color: var(--legend-glow-purple);
}
.legend_glow_PURPLEHAZE {
  --glow-color: var(--legend-glow-purplehaze);
}
.legend_glow_TEAL {
  --glow-color: var(--legend-glow-teal);
}
.legend_glow_BROWN {
  --glow-color: var(--legend-glow-brown);
}
.legend_glow_BLUE {
  --glow-color: var(--legend-glow-blue);
}
.legend_glow_SUNFIRE {
  --glow-color: var(--legend-glow-sunfire);
}
*/

/* Neutralize all legend glow colors */
.legend_glow_GOLD,
.legend_glow_AQUA,
.legend_glow_SILVER,
.legend_glow_PURPLE,
.legend_glow_PURPLEHAZE,
.legend_glow_TEAL,
.legend_glow_BROWN,
.legend_glow_BLUE,
.legend_glow_SUNFIRE {
  --glow-color: transparent; /* Set glow color to transparent */
}


@mixin avatar {
  position: relative;
  border-radius: 50%;
  padding: 0; // No bezel

  img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
    background: transparent; // No background on image
  }
}

.verifiedIcon {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 15px;
  height: 15px;
  display: inline-block;
  margin: 0px 0px;
  background-color: var(--accent);
  -webkit-mask: url(../../assets/icons/verified.svg) no-repeat 0px / 15px;
  mask: url(../../assets/icons/verified.svg) no-repeat 0px / 15px;
}
/*
@mixin iconBackground {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
*/
.nanoAvatar {
  @include avatar;
  width: 18px;
  height: 18px;

  .missingBack {
    width: 16px;
    height: 16px;
    background: transparent; // No background
  }
/*
  .iconBackground {
    //@include iconBackground;
    bottom: -6px;
    right: -6px;
  }
    */

}

.microAvatar {
  @include avatar;
  width: 22px;
  height: 22px;

  .missingBack {
    width: 20px;
    height: 20px;
    background: transparent; // No background
  }
/*
  .iconBackground {
    //@include iconBackground;
    bottom: -6px;
    right: -6px;
  }
    */
}

.xxsAvatar {
  @include avatar;
  width: 28px;
  height: 28px;

  .missingBack {
    width: 26px;
    height: 26px;
    background: transparent; // No background
  }
/*
  .iconBackground {
    //@include iconBackground;
    bottom: -6px;
    right: -6px;
  }
    */
}

.xssAvatar {
  @include avatar;
  width: 26px;
  height: 26px;

  .missingBack {
    width: 22px;
    height: 22px;
    background: transparent; // No background
  }
/*
  .iconBackground {
    //@include iconBackground;
    bottom: -6px;
    right: -6px;
  }
    */
}

.xsAvatar {
  @include avatar;
  width: 32px;
  height: 32px;

  .missingBack {
    width: 28px;
    height: 28px;
    background: transparent; // No background
  }
/*
  .iconBackground {
    //@include iconBackground;
    bottom: -6px;
    right: -6px;
  }
    */
}

.vvsAvatar {
  @include avatar;
  width: 36px;
  height: 36px;

  .missingBack {
    width: 32px;
    height: 32px;
    background: transparent; // No background
  }
/*
  .iconBackground {
    //@include iconBackground;
    bottom: -6px;
    right: -6px;
  }
    */
}

.vs2Avatar {
  @include avatar;
  width: 40px;
  height: 40px;

  .missingBack {
    width: 34px;
    height: 34px;
    background: transparent; // No background
  }
/*
  .iconBackground {
    //@include iconBackground;
  }
    */
}

.vsAvatar {
  @include avatar;
  width: 42px;
  height: 42px;

  .missingBack {
    width: 38px;
    height: 38px;
    background: transparent; // No background
  }
/*
  .iconBackground {
    //@include iconBackground;
  }
  */
}

.smallAvatar {
  @include avatar;
  width: 44px;
  height: 44px;

  .missingBack {
    width: 40px;
    height: 40px;
    background: transparent; // No background
  }
/*
  .iconBackground {
    //@include iconBackground;
  }
  */
}

.midAvatar {
  @include avatar;
  width: 52px;
  height: 52px;

  .missingBack {
    width: 46px;
    height: 46px;
    background: transparent; // No background
  }
/*
  .iconBackground {
    //@include iconBackground;
  }
    */
}

.mlAvatar {
  @include avatar;
  width: 60px;
  height: 60px;

  .missingBack {
    width: 54px;
    height: 54px;
    background: transparent; // No background
  }
/*
  .iconBackground {
    @include iconBackground;
  }
    */
}

.mllAvatar {
  @include avatar;
  width: 64px;
  height: 64px;

  .missingBack {
    width: 58px;
    height: 58px;
    background: transparent; // No background
  }
/*
  .iconBackground {
   // @include iconBackground;
  }
   */
}

.largeAvatar {
  @include avatar;
  width: 72px;
  height: 72px;

  .missingBack {
    width: 66px;
    height: 66px;
    background: transparent; // No background
  }
/*
  .iconBackground {
    //@include iconBackground;
    bottom: 3px;
    right: 3px;
  }
    */
}

.extraLargeAvatar {
  @include avatar;
  width: 80px;
  height: 80px;

  .missingBack {
    width: 72px;
    height: 72px;
    background: transparent; // No background
  }
/*
  .iconBackground {
    //@include iconBackground;
    bottom: 4px;
    right: 4px;
  }
    */
}

.xxlAvatar {
  @include avatar;
  width: 120px;
  height: 120px;

  .missingBack {
    width: 110px;
    height: 110px;
    background: transparent; // No background
  }
/*
  .iconBackground {
    //@include iconBackground;
    bottom: 4px;
    right: 4px;
  }
    */

}

.xxxlAvatar {
  @include avatar;
  width: 128px;
  height: 128px;

  .missingBack {
    width: 120px;
    height: 120px;
    background: transparent; // No background
  }

  /*
  .iconBackground {
    //@include iconBackground;
    bottom: 4px;
    right: 4px;
  }
    */
}

.missingBack {
  border-radius: 50%;
  background: transparent; // No background globally
}

@mixin missing {
  display: grid;
  place-items: center;
  color: var(--missing-avatar-text);
  border-radius: 50%;
  background-color: var(--subtile-devider); // Background for default avatar
  mask-image: url(../../assets/icons/default_avatar.svg); // Restore default avatar
  mask-repeat: no-repeat;
  -webkit-mask-image: url(../../assets/icons/default_avatar.svg); // Restore for Webkit
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.nanoMissing {
  @include missing;
  width: 100%;
  height: 100%;
  font-size: 10px;
}

.microMissing {
  @include missing;
  width: 100%;
  height: 100%;
  font-size: 10px;
}

.xxsMissing {
  @include missing;
  width: 100%;
  height: 100%;
  font-size: 10px;
}

.xssMissing {
  @include missing;
  width: 100%;
  height: 100%;
  font-size: 10px;
}

.xsMissing {
  @include missing;
  width: 100%;
  height: 100%;
  font-size: 10px;
}

.vvsMissing {
  @include missing;
  width: 100%;
  height: 100%;
  font-size: 10px;
}

.vs2Missing {
  @include missing;
  width: 100%;
  height: 100%;
  font-size: 10px;
}

.vsMissing {
  @include missing;
  width: 100%;
  height: 100%;
  font-size: 10px;
}

.smallMissing {
  @include missing;
  width: 100%;
  height: 100%;
  font-size: 12px;
}

.midMissing {
  @include missing;
  width: 100%;
  height: 100%;
  font-size: 16px;
}

.mlMissing {
  @include missing;
  width: 100%;
  height: 100%;
  font-size: 16px;
}

.mllMissing {
  @include missing;
  width: 100%;
  height: 100%;
  font-size: 16px;
}

.largeMissing {
  @include missing;
  width: 100%;
  height: 100%;
  font-size: 18px;
}

.extraLargeMissing {
  @include missing;
  width: 100%;
  height: 100%;
  font-size: 20px;
}

.xxlMissing {
  @include missing;
  width: 100%;
  height: 100%;
  font-size: 20px;
}

.xxxlMissing {
  @include missing;
  width: 100%;
  height: 100%;
  font-size: 20px;
}

.highlightBorder {
  background: transparent;
}

.cacheFlag {
  img {
    filter: sepia(100%) saturate(300%) brightness(70%) hue-rotate(300deg) blur(0.1rem);
  }
}